/* stylesheet for index.html */

@font-face {
  src: url(../fonts/Heroic.ttf);
  font-family: Heroic;
}

@font-face {
  src: url(../fonts/adellesans.ttf);
  font-family: Adelle-sans;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.header-logo svg {
  max-width: 150px;
  height: 25px;
  margin-left: 16px;
  margin-top: 10px;
}

.user-login svg {
  width: 16px;
  height: 16px;
  float: right;
  margin-top: 10px;
  margin-right: 15px;
}

.header-wrapper {
  display: inline-block;
  width: 100%;
}
.header-content {
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
}

.header-logo,
.user-login {
  display: inline-block;
  float: left;
}

.header-logo {
  width: 70%;
}

.user-login {
  width: 30%;
}

.nav-bar {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #333333;
}


.nav-bar .nav-ul {
  display: inline-block;
  width: 100%;
  list-style-type: none;
}

.nav-bar .nav-button {
  width: 25%;
  float: left;
  text-align: center;
  border-left: 1px solid #333333;
  padding: 5px 0px;
  font-family: Heroic, sans-serif;
  font-size: 1.3em;
  cursor: pointer;
}

.nav-bar li:first-child {
  border-left: 0;
}

.nav-bar .nav-button a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
}

.down-arrow {
  position: absolute;
  top: 50%;
  left: 110%;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top: 4px solid #e5127d;
}

.nav-section-coll {
  display: none;
  width: 100%;
  height: calc(100% - 80px);
  position: relative;
}

.nav-section {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #1a1a1a;
  color: #ffffff;
}

.nav-section .nav-section-ul li {
  font-family: Adelle-sans;
  font-weight: bold;
  font-size: 0.6em;
  padding: 15px;
  border-bottom: 1px solid #6a6a6a;
}

.nav-section .nav-section-ul li:last-child {
  color: #e5127d;
}

#nav-section-more .nav-section-ul li:last-child {
  color: inherit;
}

/* styling for main items */

.main-items-container {
  display: inline-block;
  width: 100%;
  background: linear-gradient(90deg,#f7c626 15%,#f68c2f 40%,#e5127d 85%);
  padding: 1px;
}

.top-story {
  display: inline-block;
  width: 100%;
  background-color: #000000;
  padding: 5px 0px;
}

.main-item {
  display: inline-block;
  width: 100%;
  background-color: #000000;
  margin-top: 1px;
}

.top-story .story-img {
  width: 50%;
}

.main-item .story-img {
  width: 35%;
}

.top-story .story-text {
  width: 50%;
}

.main-item .story-text {
  width: 65%;
}

.story-img {
  display: inline-block;
  background-color: #000000;
  padding: 5px;
  float: left;
}

.story-img img {
  width: 100%;
}

.story-text {
  display: inline-block;
  background-color: #000000;
  font-family: Adelle-sans, sans-serif;
  padding: 5px;
}

.story-header {
  color: #eeeeee;
  font-weight: 900;
  font-size: 17px;
}

.story-footer {
  color: #6a6a6a;
  font-size: 15px;
}

.story-author {
  color: #e5127d;
}

/* styling for sub-stories */

.sub-stories-container {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  background-color: #eeeeee;
}

.sub-story {
  display: inline-block;
  width: 100%;
  background-color: #eeeeee;
  border-top: 1px solid #e7e7e8;
}

.sub-story .story-img {
  width: 35%;
  background-color: #eeeeee;
  padding: 5px 0;
}

.sub-story .story-text {
  width: 65%;
  background-color: #eeeeee;
}

.sub-story .story-header {
  color: #424242;
  font-size: 14.5px;
}

.sub-story .story-footer {
  color: #6a6a6a;
  font-size: 12px;
}

/* styling for guidebook */

.guidebook {
  display: inline-block;
  width: 100%;
  background-color: #222222;
}

.gb-header {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 15px 10px;
}

.gb-logo {
  display: inline-block;
}

.gb-header img {
  width: 110px;
  height: 50px;
}

.gb-link {
  position: absolute;
  padding-right: inherit;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.gb-link a {
  color: #e5127d;
  font-family: sans-serif;
  font-size: 14px;
}

.gb-link .right-arrow-pink {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin-left: 5px;
  border: 5px solid transparent;
  border-left: 5px solid #e5127d;
}

.gb-line {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

.gb-line-straight {
  display: inline-block;
  float: left;
  width: 85%;
  height: 2px;
  background-color: #e5127d;
}

.gb-line-curved {
  display: inline-block;
  float: left;
  width: 10%;
  height: 2px;
  background-color: #e5127d;
  transform-origin: left;
  transform: rotate(60deg);
}

.gb-story {
  display: inline-block;
  width: 80%;
  margin: auto;
  background-color: #eeeeee;
}

.gb-story .story-img {
  width: 35%;
  background-color: inherit;
  padding: 0;
}

.gb-story .story-text {
  width: 65%;
  background-color: inherit;
}

/* styling for footer */

.footer {
  padding: 10px 0px;
  font-family: sans-serif;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
}

.footer-logo,
.quick-links,
.footer-status,
.footer-status p,
.vox-logo,
.vox-links {
  margin: 10px auto;
}

.footer a {
  color: #e5127d;
}

.footer-logo {
  width: 250px;
}

.quick-links {
  max-width: 95vw;
}

.quick-links ul {
  list-style-type: none;
  padding: 5px 0;
}

.quick-links li {
  display: inline-block;
}

.quick-links li::after {
  content: '\2022';
  color: #ffffff;
  margin: 0 8px;
}

.quick-links li:last-child::after {
  content: none;
}

.footer-status {
  max-width: 90vw;
}

.vox-logo {
  width: 150px;
}

.vox-links {
  max-width: 90vw;
}
