/* stylesheet for index.html */

<<<<<<< c6f1ff706aaabf782e0222bbacaee04268cd9d7a
@font-face {
  src: url(../fonts/Heroic.ttf);
  font-family: Heroic;
}
=======
>>>>>>> gradient added

@font-face {
  src: url(../fonts/adellesans.ttf);
  font-family: Adelle-sans;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-logo svg {
  max-width: 150px;
  height: 25px;
  margin-left: 16px;
  margin-top: 10px;
}

.user-login svg {
  width: 16px;
  height: 16px;
  float: right;
  margin-top: 10px;
  margin-right: 15px;
}

.header-wrapper {
  display: inline-block;
  width: 100%;
}
.header-content {
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
}

.header-logo,
.user-login {
  display: inline-block;
  float: left;
}

.header-logo {
  width: 70%;
}

.user-login {
  width: 30%;
}

.nav-bar {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #333333;
}


.nav-bar .nav-ul {
  display: inline-block;
  width: 100%;
  list-style-type: none;
}

.nav-bar .nav-button {
  width: 25%;
  float: left;
  text-align: center;
  border-left: 1px solid #333333;
  padding: 5px 0px;
  font-family: Heroic, sans-serif;
  font-size: 1.3em;
  cursor: pointer;
}

.nav-bar li:first-child {
  border-left: 0;
}

.nav-bar .nav-button a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
}

.down-arrow {
  position: absolute;
  top: 50%;
  left: 110%;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top: 4px solid #e5127d;
}

.nav-section-coll {
  display: none;
  width: 100%;
  height: calc(100% - 80px);
  position: relative;
}

.nav-section {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #1a1a1a;
  color: #ffffff;
}

.nav-section .nav-section-ul li {
  font-family: Adelle-sans;
  font-weight: bold;
  font-size: 0.6em;
  padding: 15px;
  border-bottom: 1px solid #6a6a6a;
}

.nav-section .nav-section-ul li:last-child {
  color: #e5127d;
}

#nav-section-more .nav-section-ul li:last-child {
  color: inherit;
}

/* styling for main items */

.main-items-container {
  display: inline-block;
  width: 100%;
  background: linear-gradient(90deg,#f7c626 15%,#f68c2f 40%,#e5127d 85%);
  padding: 1px;
}

.top-story {
  display: inline-block;
  height: 28vh;
}

.top-story .story-img {
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: #000000;
  padding: 5px;
  float: left;
}

.top-story .story-img img {
  height: 100%;
}

.top-story .story-text {
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: #000000;
  font-family: Adelle-sans, sans-serif;
  padding: 5px;
}

.story-header {
  color: #eeeeee;
  font-weight: 900;
  font-size: 1.2em;
}

.story-footer {
  color: #6a6a6a;
}

.story-author {
  color: #e5127d;
}
